Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

feat(cherrypicker): add target branch info in comment when pull request created (#1052)
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

chore(deps): add renovate.json
  .github/renovate.json5
Due: none

chore: delete needless command filed in job `pull-tichi-validate-prow-yaml`
  .prow.yaml
  docs/en/components/rerere.md
Due: none

chore: delete needless command filed in job `pull-tichi-validate-prow-yaml` (#1059)
  .prow.yaml
  docs/en/components/rerere.md
Due: none

deploy: c8ff0298d6deb6be24e938802045df030f039b98
  en/components/rerere.md
Due: none

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Update Prow to v20221104-4497ace285 (#1006)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(prow-dev): fix container resources
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(prow-dev): fix container resources (#1075)
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(renovate): add preset and go mod tidy post options
  .github/renovate.json5
Due: none

feat(renovate): add preset and go mod tidy post options (#1076)
  .github/renovate.json5
Due: none

fix(configs/prow-dev): fix job's container command after image upgraded
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml

ci: fix job's container command after image upgraded
  .prow.yaml
Due: none

ci: fix job's container command after image upgraded (#1077)
  .prow.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml

fix(deps): update github.com/shurcool/githubv4 digest to a134b14
  go.mod
  go.sum
Due: none

Update Prow to v20221111-fe4f3e2158 (#1083)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(deps): update k8s.io/test-infra digest to de927c5
  go.mod
  go.sum
Due: none

fix(deps): refactor the secret agent codes
  cmd/rerere/main.go
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunityformatchecker/main.go
  cmd/ticommunityissuetriage/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
  go.mod
Due: none

fix(deps): refactor githubClient interface
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
  internal/pkg/lib/github.go
Due: none

fix(deps): fix lint issues
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
Due: none

fix(deps): tidy go.mod
  go.mod
Due: none

Update Prow to v20221128-3628adc270 (#1084)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(deps): bump image ticommunityinfra/tide to v20221207-9225e3a153
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(deps): bump image ticommunityinfra/tide to v20221207-9225e3a153 (#1097)
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Update Prow to v20221205-a1b0b85d88 (#1095)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

ci: enable auto PR creating to bump image in k8s resource files
  .github/renovate.json5
Due: none

ci: enable auto PR creating to bump image in k8s resource files (#1101)
  .github/renovate.json5
Due: none

ci: aggerate bump images for tichi plugins in a group
  .github/renovate.json5
  .github/renovate.yaml
Due: none

ci: aggerate bump images for tichi plugins in a group (#1103)
  .github/renovate.json5
  .github/renovate.yaml
Due: none

Revert "ci: aggerate bump images for tichi plugins in a group (#1103)"
  .github/renovate.json5
  .github/renovate.yaml
Due: none

chore(deps): update ticommunityinfra/tichi-* docker tag to v2.4.0
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

chore(deps): update ticommunityinfra/tichi-* docker tag to v2.4.0 (#1106)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

ci: aggerate bump images for tichi plugins in a group (#1105)
  .github/renovate.yaml
Due: none

chore(prow-dev): change log level
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix(ticommunitycherrypicker): fix github token getting
  cmd/ticommunitycherrypicker/main.go
Due: none

chore(configs/prow-dev): add trusted bots
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml
