Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

config(prow-dev): add blunderbuss plugin
  configs/prow-dev/OWNERS
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

style: fix golang ci lint issues
  cmd/ticommunitycherrypicker/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

[SKIP-CI] config(prow-dev): add blunderbuss plugin (#969)
  cmd/ticommunitycherrypicker/main.go
  configs/prow-dev/OWNERS
  configs/prow-dev/config/plugins.yaml
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: pull-tichi-validate-prow-yaml

test: make a pr to test blunderbuss
  configs/prow-dev/OWNERS
  configs/prow-dev/README.md
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

test: make a pr to test blunderbuss (#970)
  configs/prow-dev/OWNERS
  configs/prow-dev/README.md
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

build: bump `k8s.io/apimachinery` to `v0.20.15`
  go.mod
  go.sum
Due: none

ci(lint): update golang ci lint workflow
  .github/workflows/golangci-lint.yml
Due: none

feat(externalplugins/tiboss): init implement
  cmd/tiboss/main.go
  cmd/tiboss/options.go
  cmd/tiboss/server.go
  internal/pkg/externalplugins/boss/boss.go
  internal/pkg/externalplugins/boss/types.go
  internal/pkg/externalplugins/config.go
Due: none

feat(externalplugins/tiboss): basic implement without tests
  .gitpod.yml
  cmd/tiboss/main.go
  cmd/tiboss/server.go
  configs/prow-dev/config/plugins.yaml
  go.mod
  go.sum
  internal/pkg/externalplugins/boss/boss.go
  internal/pkg/externalplugins/boss/types.go
  internal/pkg/externalplugins/config.go
Due: pull-tichi-validate-prow-yaml

refactor(externalplugins): rename `boss` to `guard`
  .gitpod.yml
  cmd/ticommunityguard/main.go
  cmd/ticommunityguard/options.go
  cmd/ticommunityguard/server.go
  configs/prow-dev/config/plugins.yaml
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/guard/boss.go
  internal/pkg/externalplugins/guard/types.go
Due: pull-tichi-validate-prow-yaml

test(internal/pkg/externalplugins/guard): add unit tests
  go.mod
  go.sum
  internal/pkg/externalplugins/guard/boss_test.go
  internal/pkg/externalplugins/guard/types_mock.go
Due: none

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

refactor(internal/pkg/externalplugins/guard): refactor with pr suggestions
  configs/prow-dev/config/plugins.yaml
  internal/pkg/externalplugins/guard/boss.go
Due: pull-tichi-validate-prow-yaml

ci: update golang image in prow job
  .prow.yaml
Due: none

Bugfix/ci lint fail (#997)
  .github/workflows/golangci-lint.yml
  .prow.yaml
  go.mod
  go.sum
Due: none

feat(externalplugins/issuetriage): support wont fix feature
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

test(externalplugins/issuetriage): increase test covrage
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

feat(externalplugins/issuetriage): support wont fix feature (#998)
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

deploy: 69276857271968a78bcce3f52e7ac7b550963565
  en/plugins/issue-triage.md
  plugins/issue-triage.md
Due: none

ci: upgrade codecov uploader to avoid leaking token
  Makefile
Due: none

ci: upgrade codecov uploader to avoid leaking token (#999)
  Makefile
Due: none

build(goreleaser): upgrade to version `v1.10.3`
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
Due: none

build(goreleaser): upgrade to version `v1.10.3` (#1000)
  .github/workflows/release.yml
  .gitignore
  .goreleaser.yml
Due: none

ci(gorelease): fix github action workflow
  .github/workflows/release.yml
Due: none

ci(gorelease): fix github action workflow (#1001)
  .github/workflows/release.yml
Due: none

refactor(externalplugins/cherrypicker): extract pull request create method from `handle` method
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

refactor(externalplugins/cherrypicker): extract `cherryPickCommit` method from `handle` method
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

refactor(externalplugins/cherrypicker): extract `newCherryPickLock` method from `handle` method
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

feat(externalplugins/cherrypicker): implement collaborator invitation
  cmd/ticommunitycherrypicker/github.go
  cmd/ticommunitycherrypicker/main.go
  go.mod
  go.sum
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

chore: fix lint issues
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunityformatchecker/main.go
  cmd/ticommunityissuetriage/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/plugins.go
Due: none

refactor(cherrypicker): move invite logic and test codes to new files
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

test(cherrypicker): add tests to increase coverage
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

ci: update prow jobs
  .prow.yaml
Due: none

chore: fix lint issues
  .prow.yaml
Due: none

chore: fix lint issues
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

chore: try to make codcov passing
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

fix(cherrypicker): fix invite repo
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none
