Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

test(cherrypicker): add unit tests
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

build(configs/prow-dev): upgrade crd
  configs/prow-dev/cluster/prowjob_customresourcedefinition.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build(configs/prow-dev): upgrade k8s manifest to api `v1.22`
  configs/prow-dev/cluster/crier_rbac.yaml
  configs/prow-dev/cluster/deck_rbac.yaml
  configs/prow-dev/cluster/hook_rbac.yaml
  configs/prow-dev/cluster/horologium_rbac.yaml
  configs/prow-dev/cluster/ing_ingress.yaml
  configs/prow-dev/cluster/prow_controller_manager_rbac.yaml
  configs/prow-dev/cluster/sinker_rbac.yaml
  configs/prow-dev/cluster/statusreconciler_rbac.yaml
  configs/prow-dev/cluster/tide_rbac.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build(configs/prow-dev): upgrade crd (#1013)
  configs/prow-dev/cluster/crier_rbac.yaml
  configs/prow-dev/cluster/deck_rbac.yaml
  configs/prow-dev/cluster/hook_rbac.yaml
  configs/prow-dev/cluster/horologium_rbac.yaml
  configs/prow-dev/cluster/ing_ingress.yaml
  configs/prow-dev/cluster/prow_controller_manager_rbac.yaml
  configs/prow-dev/cluster/prowjob_customresourcedefinition.yaml
  configs/prow-dev/cluster/sinker_rbac.yaml
  configs/prow-dev/cluster/statusreconciler_rbac.yaml
  configs/prow-dev/cluster/tide_rbac.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(configs/prow-dev): prowjob crd
  configs/prow-dev/cluster/prowjob_customresourcedefinition.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(configs/prow-dev): prowjob crd (#1014)
  configs/prow-dev/cluster/prowjob_customresourcedefinition.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

docs(external-plugins/flaky): add design docs
  docs/UML/flaky/issue-flow.puml
  docs/UML/flaky/pr-flow.puml
  docs/UML/flaky/pr-label-status.puml
  docs/en/_sidebar.md
  docs/en/plugins/flaky.md
Due: none

chore(external-plugins/flaky): init implement
  cmd/ticommunityflaky/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/flaky/flaky.go
Due: none

fix(cherrypicker): review issues
  cmd/ticommunitycherrypicker/github.go
  cmd/ticommunitycherrypicker/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

revert: delete `ReadHeaderTimeout` setting in http.Server
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunityformatchecker/main.go
  cmd/ticommunityissuetriage/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
Due: none

refactor(cherrypicker): change param type in `newExtGithubClient`
  cmd/ticommunitycherrypicker/github.go
  cmd/ticommunitycherrypicker/main.go
Due: none

refactor(cherrypicker): change param type in `AddCollaborator`
  cmd/ticommunitycherrypicker/github.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

style(cherrypicker): fix spell in test codes
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
Due: none

style(cherrypicker): keep var name style
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
Due: none

chore(configs/prow-dev): add ingress to prow-dev.prow.net
  configs/prow-dev/cluster/ing_ingress.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

chore(configs/prow-dev): add ingress to prow-dev.prow.net (#1022)
  configs/prow-dev/cluster/ing_ingress.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

test(cherrypicker): add test data for `TestInviteIC`
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
Due: none

test(cherrypicker): add opened invitation juge
  cmd/ticommunitycherrypicker/github.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
Due: none

Update internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
Due: none

fix(cherrypicker): fix for condition in method `ListRepoInvitations`
  cmd/ticommunitycherrypicker/github.go
Due: none

deploy: 10cfcccaa57db0f5f278017d1551dcb4c788a04d
  README.md
  components/tide.md
  en/README.md
  en/components/tide.md
  en/plugins/assign.md
  en/plugins/blunderbuss.md
  en/plugins/cherrypicker.md
  en/plugins/dco.md
  en/plugins/hold.md
  en/plugins/label.md
  en/plugins/lgtm.md
  en/plugins/merge.md
  en/plugins/milestone.md
  en/plugins/needs-rebase.md
  en/plugins/owners.md
  en/plugins/release-note.md
  en/plugins/require-matching-label.md
  en/plugins/size.md
  en/plugins/wip.md
  plugins/assign.md
  plugins/blunderbuss.md
  plugins/cherrypicker.md
  plugins/dco.md
  plugins/hold.md
  plugins/label.md
  plugins/lgtm.md
  plugins/merge.md
  plugins/milestone.md
  plugins/needs-rebase.md
  plugins/owners.md
  plugins/release-note.md
  plugins/require-matching-label.md
  plugins/size.md
  plugins/wip.md
Due: none

Update CNAME
  CNAME
Due: none

docs(plugins/cherrypicker): update doc in md files and codes
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none

Feature/invite after cherry pick pr created (#1011)
  cmd/ticommunitycherrypicker/github.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitymerge/main.go
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  go.mod
  go.sum
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_invite_test.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/lgtm/lgtm.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  internal/pkg/externalplugins/plugins.go
Due: none

deploy: ef7f829c3af3be3c3a5a95d1777c642a43268d75
  CNAME
  en/plugins/cherrypicker.md
  plugins/cherrypicker.md
Due: none

feat(configs/prow-dev): upgrade cherry-picker with version `v2.3.0`
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

ci: fix goreleaseer jobs
  .goreleaser.yml
Due: none

ci: fix goreleaseer jobs (#1036)
  .goreleaser.yml
Due: none

docs: switch book.prow.tidb.io to book.prow.tidb.net
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
  README.md
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md.tmpl
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  test/testdata/config_combine.yaml
  web/README.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml

docs: switch book.prow.tidb.io to book.prow.tidb.net (#1037)
  .github/workflows/gh-pages.yml
  CONTRIBUTING.md
  README.md
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/labels.md
  configs/prow-dev/config/labels.md.tmpl
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/lgtm/lgtm_test.go
  test/testdata/config_combine.yaml
  web/README.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml

deploy: 54de4f44c4973904647ee91cff8ec96ab48fb93f
  CNAME
  en/plugins/issue-triage.md
  plugins/issue-triage.md
Due: none

feat(configs/prow-dev): upgrade cherry-picker with version `v2.3.0` (#1035)
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(plugins/format-checker): enable to tag label when regexp matched
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

feat(configs/prow-dev): add jenkins-operator and debug jobs
  .prow.yaml
  configs/prow-dev/cluster/jenkins-operator.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(cherrypicker): add target branch info in comment when pull request created
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
Due: none
