Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync

pull-tichi-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210222-37d809a6d8
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --job-config-path=configs/prow-dev/jobs
  ...

pull-tichi-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.3.7
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=configs/prow-dev/config/external_plugins_config.yaml

pull-tichi-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201217-2de500de27
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=false
      - --only=ti-community-infra/test-dev
      - --token=/etc/github/token
  ...

post-tichi-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-tichi-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20201217-2de500de27
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=ti-community-infra/test-dev
      - --token=/etc/github/token
  ...

docs: clenup rerere and add translation for tools and components (#418)
  .github/workflows/golangci-lint.yml
  .goreleaser.yml
  cmd/rerere/main.go
  deployments/components/.gitkeep
  deployments/components/rerere/Dockerfile
  docs/README.md
  docs/_sidebar.md
  docs/components/rerere.md
  docs/components/tide.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/components.md
  docs/en/components/tide.md
  docs/en/tools/label_sync.md
  docs/en/workflows/pr.md
  docs/tools/label_sync.md
  docs/workflows/pr.md
  internal/pkg/rerere/rerere.go
  internal/pkg/rerere/rerere_test.go
Due: none

deploy: 34d56a12e050b342be57b2a059daba3ff4792976
  README.md
  _sidebar.md
  components/rerere.md
  components/tide.md
  en/README.md
  en/_sidebar.md
  en/components.md
  en/components/tide.md
  en/tools/label_sync.md
  en/workflows/pr.md
  tools/label_sync.md
  workflows/pr.md
Due: none

fix: fix typo and refine the test assert
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

fix
  internal/pkg/externalplugins/label/label_test.go
Due: none

build: bump test-infra version
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  go.mod
  go.sum
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump test-infra version (#421)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/cherrypicker_deployment.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/plank_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  go.mod
  go.sum
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: refine test assert
  internal/pkg/externalplugins/label/label_test.go
Due: none

fix: add check
  internal/pkg/externalplugins/label/label_test.go
Due: none

fix: fix the /label command case sensitive problem and optimize reply (#416)
  internal/pkg/externalplugins/label/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

build: bump ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version (#422)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: add label config for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: add label config for test-dev (#424)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

feat: impl contribution
  cmd/ticommunitycontribution/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/label.go
Due: none

refactor: add more logs and comments
  internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/label.go
Due: none

test: add cases
  internal/pkg/externalplugins/config_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/contribution/contribution_test.go
Due: none

test: add cases
  internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/contribution/contribution_test.go
Due: none

chore: add deploy files
  .goreleaser.yml
  deployments/plugins/contribution/Dockerfile
Due: none

fix typos
  internal/pkg/externalplugins/contribution/contribution_test.go
Due: none

test: use FormatTestLabels
  internal/pkg/externalplugins/contribution/contribution_test.go
  internal/pkg/externalplugins/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

test: add comments
  internal/pkg/externalplugins/label.go
Due: none

docs: add more docs
  docs/_sidebar.md
  docs/en/_sidebar.md
  docs/en/plugins/contribution.md
  docs/plugins/contribution.md
Due: none

fix typo
  docs/en/plugins/contribution.md
Due: none

update readme
  docs/README.md
  docs/en/README.md
Due: none

Update docs/en/plugins/contribution.md
  docs/en/plugins/contribution.md
Due: none

Update internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config.go
Due: none

Update internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/contribution/contribution.go
Due: none

fix typo
  internal/pkg/externalplugins/contribution/contribution.go
Due: none

feat: impl contribution (#425)
  .goreleaser.yml
  cmd/ticommunitycontribution/main.go
  deployments/plugins/contribution/Dockerfile
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/contribution.md
  docs/plugins/contribution.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/contribution/contribution_test.go
  internal/pkg/externalplugins/label.go
  internal/pkg/externalplugins/label/label_test.go
Due: none

deploy: 8d01e952bebd41707b538c6ec63f0819a6a64bb0
  README.md
  _sidebar.md
  en/README.md
  en/_sidebar.md
  en/plugins/contribution.md
  plugins/contribution.md
Due: none

build: add contribution deployment files
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version (#429)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_service.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable contribution for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: enable contribution for test-dev (#430)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: better log and more associations for contribution
  internal/pkg/externalplugins/contribution/contribution.go
Due: none

fix: add better log and more associations for contribution (#431)
  internal/pkg/externalplugins/contribution/contribution.go
  internal/pkg/externalplugins/contribution/contribution_test.go
Due: none

build: bump all ti plugins version
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.yaml
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
