Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

build: bump ti plugins version to v2.0.0 (#881)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(format-checker): add trusted user option
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

refine code
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

feat(format-checker): add trusted user option (#882)
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

build: bump ti plugins from v2.0.0 to v2.0.1
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins from v2.0.0 to v2.0.1 (#883)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: add trusted_users option for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

docs: fix docs
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: none

config: add trusted_users option for test-dev and fix docs (#885)
  configs/prow-dev/config/external_plugins_config.yaml
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

deploy: 6915105dbd9256678d05ef931e17647a5c1bba8b
  en/plugins/format-checker.md
  plugins/format-checker.md
Due: none

Create google3f4f649f173ac84f.html
  google3f4f649f173ac84f.html
Due: none

docs: refine tide docs
  docs/components/tide.md
Due: none

docs: add tide en docs
  docs/components/tide.md
  docs/en/components/tide.md
Due: none

fix: updates
  docs/components/tide.md
  docs/en/components/tide.md
Due: none

fix: updates
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
Due: none

docs: refine tide docs (#887)
  docs/components/tide.md
  docs/en/components/tide.md
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
Due: none

deploy: b0e5c630b3785f03fb503bc60987ea6754bea75e
  components/tide.md
  en/components/tide.md
  en/plugins/issue-triage.md
  google3f4f649f173ac84f.html
  plugins/issue-triage.md
Due: none

fix: check issue triage command
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

fix: remove the condition that bug issue need affects label
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

refactor: refine code
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

fix: do not check if issue has affects label and refine status desc (#888)
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

deploy: 213f3421cfe228c097e2fda926db9b5fcabd9e7e
  en/plugins/issue-triage.md
  plugins/issue-triage.md
Due: none

build: bump ti plugin from v2.0.1 to v2.0.2
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugin from v2.0.1 to v2.0.2 (#889)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20220130-v1.0.4
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump tide version to v20220130-v1.0.4 (#890)
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

docs: update tide en doc
  docs/en/components/tide.md
Due: none

docs: update tide en doc (#891)
  docs/en/components/tide.md
Due: none

deploy: 575c63fa0f93668b37168dfba6e93d64e722a4f1
  en/components/tide.md
Due: none

fix: fix the list team members API
  go.mod
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/lib/github.go
Due: none

fix: fix the list team members API (#908)
  go.mod
  internal/pkg/externalplugins/labelblocker/labelblocker.go
  internal/pkg/externalplugins/labelblocker/labelblocker_test.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
  internal/pkg/lib/github.go
Due: none

build: bump ti plugin to v2.0.3
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugin to v2.0.3 (#909)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: increase hourly token for owners
  cmd/ticommunityowners/main.go
Due: none

fix: increase hourly token for owners (#917)
  cmd/ticommunityowners/main.go
Due: none

docs: update labels docs
  docs/en/plugins/label.md
  docs/plugins/label.md
Due: none

docs: update labels docs (#918)
  docs/en/plugins/label.md
  docs/plugins/label.md
Due: none

deploy: 61f2badd97bc0d0c345f9fb9a064c93b5cef9956
  en/plugins/label.md
  plugins/label.md
Due: none

Revert "docs: update labels docs (#918)"
  docs/en/plugins/label.md
  docs/plugins/label.md
Due: none
