Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

build: bump ti plugins from v1.9.1 to v1.9.2 (#828)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20211214-v20211214
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable ignore_invalid_review_prompt for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump tide version to v20211214-v20211214 (#829)
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable ignore_invalid_review_prompt for test-dev (#830)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: enable issue number check and extract rule
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: enable issue number check and extract rule (#831)
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(cherrypicker): support copy issue numbers from squashed commit
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/utils/issue_number.go
  internal/pkg/externalplugins/utils/issue_number_test.go
Due: none

fix: fix lint
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/utils/issue_number.go
Due: none

fix: update docs
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
Due: none

feat(cherrypicker): support copy issue numbers from squashed commit (#832)
  docs/en/plugins/cherrypicker.md
  docs/plugins/cherrypicker.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/utils/issue_number.go
  internal/pkg/externalplugins/utils/issue_number_test.go
Due: none

deploy: 3acbb9dceff36b3eb281595fceed92b294593f6d
  en/plugins/cherrypicker.md
  plugins/cherrypicker.md
Due: none

build: bump ti plugins version from v1.9.2 to v1.9.3
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable copy_issue_numbers_from_squashed_commit for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump ti plugins version from v1.9.2 to v1.9.3 (#833)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable copy_issue_numbers_from_squashed_commit for test-dev (#834)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump tide version to v20211215-v1.0.0
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20211215-v1.0.0 (#835)
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: fix the regex to match issue number line
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix: fix the regex to match issue number line (#836)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix: refine the missing message of format-checker
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: fix typo
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: refine
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: refine the missing message of format-checker (#837)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

feat(formatchecker): regexp rule support template and provide .Org .Repo data
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: refine code
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

feat(formatchecker): regexp rule support template and provide .Org .Repo data (#838)
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

build: bump ti plugins version from v1.9.3 to v1.9.4
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump ti plugins version from v1.9.3 to v1.9.4 (#839)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: Update Prow to v20211214-82e6408890 (#826)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump checkconfig version to v20211214-82e6408890
  .prow.yaml
Due: none

build: bump checkconfig version to v20211214-82e6408890 (#840)
  .prow.yaml
Due: none

config: bump tide version to v20211215-v1.0.1
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix tide image tag
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: bump tide version to v20211219-v1.0.1 (#841)
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(formatchecker): support start time and branch config
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

feat(formatchecker): support start time and branch config (#846)
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none
