Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

build: bump all ti plugins version to v1.7.2-beta.1 (#684)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump all ti plugins version to v1.7.2
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump all ti plugins version to v1.7.2 (#688)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat: add reviewer teams and committer teams options for owners
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
Due: none

fix: allow committer team as reviewer
  internal/pkg/externalplugins/owners/owners.go
Due: none

docs: add doc for new options
  docs/en/plugins/owners.md
  docs/plugins/owners.md
Due: none

feat: add use github team option
  docs/en/plugins/owners.md
  docs/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

build: Bump prow from v20210806-c95403cd67 to v20210818-b81cb0bc7b
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: Use reviewers teams and committers team instead of trusted teams
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

docs: refine config in doc
  docs/en/plugins/owners.md
  docs/plugins/owners.md
Due: none

fix: refine owners config
  internal/pkg/externalplugins/config.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

refactor: get available org teams in advance
  internal/pkg/externalplugins/owners/owners.go
Due: none

feat: add reviewer teams and committer teams options for owners (#695)
  docs/en/plugins/owners.md
  docs/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

deploy: f5036392cc313a4acecd4a44def2e35e03a306b8
  en/plugins/owners.md
  plugins/owners.md
Due: none

build: bump ti plugins version to v1.8.0
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.8.0 (#705)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

config: modify trust team config for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: modify trust team config for test-dev (#706)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: Bump prow from v20210806-c95403cd67 to v20210818-b81cb0bc7b (#690)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

deploy: 5306cb4dc0fbfa2410264e0f9b209464f2a3010e
  en/tools/autobump.md
  tools/autobump.md
Due: none

fix(owners): add use_github_team option
  docs/en/plugins/owners.md
  docs/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

build: Bump prow from v20210818-b81cb0bc7b to v20210827-98f54bde95
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
  docs/en/tools/autobump.md
  docs/tools/autobump.md
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(owners): add use_github_team option (#710)
  docs/en/plugins/owners.md
  docs/plugins/owners.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/owners/owners.go
  internal/pkg/externalplugins/owners/owners_test.go
Due: none

deploy: 657ce02e5005812ed9d0d75c757118f9fcff7b34
  en/plugins/owners.md
  plugins/owners.md
Due: none

build: bump ti plugins version to v1.8.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.8.1 (#711)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

config: test blockades for ti-community-infra/test-dev
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: fix typo
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

config: test blockades for ti-community-infra/test-dev (#714)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: trust mini-bot for label-blocker
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: trust mini-bot for label-blocker (#715)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

test: add tars testcase
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

fix: check all the commits SHA when timing trigger
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

fix(merge): If the commit hash is not found, check each commit
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
Due: none

fix: ignore the bot's comment
  internal/pkg/externalplugins/tars/tars.go
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

fix(merge): make test happy
  internal/pkg/externalplugins/merge/merge_test.go
Due: none

fix: refine comment
  internal/pkg/externalplugins/tars/tars_test.go
Due: none

fix(merge): If the commit hash is not found, check each commit (#719)
  internal/pkg/externalplugins/merge/merge.go
  internal/pkg/externalplugins/merge/merge_test.go
Due: none
