Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

chore(configs/prow-dev): add trusted bots (#1112)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix(ticommunitycherrypicker): fix github token getting (#1111)
  cmd/ticommunitycherrypicker/main.go
Due: none

chore(prow-dev): change log level (#1110)
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

test(prow-dev): enable ti-community-blunderbuss on test-dev repo
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

test(prow-dev): enable ti-community-blunderbuss on test-dev repo (#1113)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

ci(prow): add changing triggers
  .inner-prowjob.schema.json
  .prow.yaml
Due: none

ci(prow): add changing triggers (#1108)
  .inner-prowjob.schema.json
  .prow.yaml
Due: none

feat(configs/prow-dev): add jenkins-operator component
  configs/prow-dev/cluster/jenkins-operator/deployment.yaml
  configs/prow-dev/cluster/jenkins-operator/rbac.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat(configs/prow-dev): add jenkins-operator component (#1114)
  configs/prow-dev/cluster/jenkins-operator/deployment.yaml
  configs/prow-dev/cluster/jenkins-operator/rbac.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(configs/prow-dev): fix jenkins job logs
  configs/prow-dev/cluster/jenkins-operator/deployment.yaml
  configs/prow-dev/cluster/jenkins-operator/service.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix(configs/prow-dev): fix jenkins job logs (#1115)
  configs/prow-dev/cluster/jenkins-operator/deployment.yaml
  configs/prow-dev/cluster/jenkins-operator/service.yaml
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

ci(test-dev): uncheck require pr branch to be up to date
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

ci(test-dev): uncheck require pr branch to be up to date (#1116)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

ci(renovate): fix renovate.json5
  .github/renovate.json5
  .github/renovate.yaml
Due: none

ci(docs): only trigger preview deployment when docs changed
  .github/workflows/preview.yml
Due: none

ci(renovate): fix renovate.json5 (#1122)
  .github/renovate.json5
  .github/renovate.yaml
  .github/workflows/preview.yml
Due: none

fix(cmd/ticommunitycherrypicker): fix cherry-pick invite crashed
  cmd/ticommunitycherrypicker/main.go
Due: none

fix(cmd/ticommunitycherrypicker): fix cherry-pick invite crashed (#1141)
  cmd/ticommunitycherrypicker/main.go
Due: none

Create OWNERS
  OWNERS
Due: none

Retesting #1169
  .rerere.json
Due: none

Create OWNERS (#1169)
  OWNERS
Due: none

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/jenkins-operator/deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

refactor(internal/pkg/externalplugins/isssuetriage): extract method `Server#addCherryPickLabelsToPR` from `Server#handle`
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

fix(internal/pkg/externalplugins/isssuetriage): do not add label to PR when not in maintain list
  .github/workflows/golangci-lint.yml
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

ci(cmd): fix golang ci lint issues
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunityformatchecker/main.go
  cmd/ticommunityissuetriage/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
Due: none

fix(internal/pkg/externalplugins/isssuetriage): do not add label to PR when not in maintain list (#1171)
  .github/workflows/golangci-lint.yml
  cmd/ticommunityautoresponder/main.go
  cmd/ticommunityblunderbuss/main.go
  cmd/ticommunitycherrypicker/main.go
  cmd/ticommunitycontribution/main.go
  cmd/ticommunityformatchecker/main.go
  cmd/ticommunityissuetriage/main.go
  cmd/ticommunitylabel/main.go
  cmd/ticommunitylabelblocker/main.go
  cmd/ticommunitylgtm/main.go
  cmd/ticommunitymerge/main.go
  cmd/ticommunityowners/main.go
  cmd/ticommunitytars/main.go
  internal/pkg/externalplugins/blunderbuss/blunderbuss.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

ci: fix gh page workflow
  .github/workflows/gh-pages.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/preview.yml
Due: none

ci: fix gh page workflow (#1172)
  .github/workflows/gh-pages.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/preview.yml
Due: none

docs: add new workflow documents
  docs/_sidebar.md
  docs/en/_sidebar.md
  docs/en/plugins/label-blocker.md
  docs/en/workflows/pr-old.md
  docs/en/workflows/pr.md
  docs/plugins/label-blocker.md
  docs/workflows/pr-old.md
  docs/workflows/pr.md
Due: none

docs: update new workflow documents en edition
  docs/en/workflows/pr.md
Due: none

docs: update new workflow documents
  docs/en/workflows/pr.md
  docs/workflows/pr.md
Due: none

Update docs/_sidebar.md
  docs/_sidebar.md
Due: none

Update docs/en/workflows/pr.md
  docs/en/workflows/pr.md
Due: none

Update pr.md
  docs/workflows/pr.md
Due: none

docs: add OWNERS spec links
  docs/en/workflows/pr.md
  docs/workflows/pr.md
Due: none

docs: add new workflow documents (#1174)
  docs/_sidebar.md
  docs/en/_sidebar.md
  docs/en/plugins/label-blocker.md
  docs/en/workflows/pr-old.md
  docs/en/workflows/pr.md
  docs/plugins/label-blocker.md
  docs/workflows/pr-old.md
  docs/workflows/pr.md
Due: none

Update go.mod
  go.mod
Due: none

fix(internal/pkg/externalplugins/cherrypicker): do not change commit message
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
  internal/pkg/externalplugins/formatchecker/test-task-body.md
Due: none
