Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

deploy: 48326206c3f9a0480d335ee46cde029ee0ce6ce7
  en/plugins/format-checker.md
  plugins/format-checker.md
Due: none

build: bump ti plugins version to v1.9.5
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.9.5 (#847)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: config the start time for format checker
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: config the start time for format checker (#848)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump tide version to v20211228-v1.0.2
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20211228-v1.0.2 (#854)
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: udpate commit template for test-dev repo
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix: fix template
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

config: update commit template for test-dev repo (#855)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump prow plugin from v20211214-82e6408890 to v20211229-d20cd1c87e
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump prow plugin from v20211214-82e6408890 to v20211229-d20cd1c87e (#861)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: Update Prow to v20211229-5ea9b96f66 (#862)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20220119-v1.0.3
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20220119-v1.0.3 (#870)
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

feat: add issue triage plugin
  cmd/ticommunityissuetriage/main.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
  internal/pkg/externalplugins/utils/issue_number.go
Due: none

fix: fix broken test
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
  internal/pkg/externalplugins/utils/issue_number_test.go
Due: none

config: update required-if-present-contexts config for test-dev
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

config: update required-if-present-contexts config for test-dev (#872)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

docs: add docs for issue triage plugin
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/config.go
Due: none

build: add Dockerfile
  .goreleaser.yml
  deployments/plugins/issuetriage/Dockerfile
Due: none

test: add more testcase
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

test: add more testes
  cmd/ticommunityissuetriage/main.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

chore: refine code
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

fix: support synchronize action
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

feat: add issue triage plugin (#871)
  .goreleaser.yml
  cmd/ticommunityissuetriage/main.go
  deployments/plugins/issuetriage/Dockerfile
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/issue-triage.md
  docs/plugins/issue-triage.md
  internal/pkg/externalplugins/cherrypicker/cherrypicker.go
  internal/pkg/externalplugins/cherrypicker/cherrypicker_test.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
  internal/pkg/externalplugins/utils/issue_number.go
  internal/pkg/externalplugins/utils/issue_number_test.go
Due: none

deploy: fff1c2a9f86f99b3a3cde0bba92010710272f386
  README.md
  _sidebar.md
  en/README.md
  en/_sidebar.md
  en/plugins/issue-triage.md
  plugins/issue-triage.md
Due: none

build: bump ti plugin version to v2.0.0-beta.1 and deploy issue triage plugin
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_service.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugin version to v2.0.0-beta.1 and deploy issue triage plugin (#878)
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_service.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable issue-triage for test-dev and fix docs links
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
  docs/en/_sidebar.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

fix: fix config
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: enable issue-triage for test-dev and fix docs links (#879)
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
  docs/en/_sidebar.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

deploy: b937a2dc2599b91b861d6a8a73c34b5a0397ebb7
  en/_sidebar.md
Due: none

fix: fix the issue triage check fail problem when batch remove may-affects label
  docs/en/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
Due: none

fix: fix broken test
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

fix: fix the issue triage check fail problem when batch remove may-affects label (#880)
  docs/en/plugins/issue-triage.md
  internal/pkg/externalplugins/issuetriage/issuetriage.go
  internal/pkg/externalplugins/issuetriage/issuetriage_test.go
Due: none

deploy: d12ccc4d1a9600425800a49da662fb8fa0e267ab
  en/plugins/issue-triage.md
Due: none

build: bump ti plugins version to v2.0.0
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_issue_triage_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow
