Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/

fix: fix typo
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: limit grammar of the associate issue number (#791)
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

feat: format checker support skip label option (#776)
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

deploy: a92502c946cc948bf98193086e7a667f7864d2df
  en/plugins/format-checker.md
  plugins/format-checker.md
Due: none

fix: format checker skip the closed issue check
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

fix: remove branchproector doc
  docs/README.md
  docs/_sidebar.md
  docs/components/branchprotector.md
  docs/en/README.md
  docs/en/_sidebar.md
Due: none

fix: format checker skip the closed issue check (#802)
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

fix: refine rerere doc
  docs/components/rerere.md
  docs/en/components/rerere.md
  docs/en/plugins/dco.md
  docs/images/doc_all_commits_signed_off.png
  docs/plugins/dco.md
Due: none

docs: add dco / rerere doc (#784)
  docs/README.md
  docs/_sidebar.md
  docs/components/rerere.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/components/rerere.md
  docs/en/plugins/dco.md
  docs/en/plugins/wip.md
  docs/plugins/dco.md
  docs/plugins/wip.md
Due: none

deploy: dc2960f5c54430988c4b25ded5a822196b54c51d
  README.md
  _sidebar.md
  components/rerere.md
  en/README.md
  en/_sidebar.md
  en/components/rerere.md
  en/plugins/dco.md
  en/plugins/wip.md
  plugins/dco.md
  plugins/wip.md
Due: none

build: bump ti plugins version to v1.9.1-beta.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.9.1-beta.1 (#803)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable skip_label for test-dev
  configs/prow-dev/config/external_plugins_config.yaml
  docs/plugins/format-checker.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: enable skip_label for test-dev (#804)
  configs/prow-dev/config/external_plugins_config.yaml
  docs/plugins/format-checker.md
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

deploy: 0664a64fff57eb941ab725a708f230a5f20e9fed
  plugins/format-checker.md
Due: none

build: bump ti plugins from v1.9.1-beta.1 to v1.9.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins from v1.9.1-beta.1 to v1.9.1 (#810)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: add prow-autobump-config.yaml
  configs/prow-dev/config/prow-autobump-config.yaml
Due: pull-tichi-validate-prow-yaml

config: add prow-autobump-config.yaml (#811)
  configs/prow-dev/config/prow-autobump-config.yaml
Due: pull-tichi-validate-prow-yaml

config: bump tide to custom image
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: bump tide to custom image (#812)
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump tide version to v20211209
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: bump checkconfig version to v20211209
  .prow.yaml
Due: none

fix: use the docker image
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: fix typo
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix: try new plugin format
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

build: bump tide version to v20211209 (#818)
  .prow.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, post-tichi-deploy-prow

build: Update Prow to v20211206-64485af39f (#817)
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

Revert "build: Update Prow to v20211206-64485af39f (#817)"
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: revert the regex commit message template
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

fix: revert the regex commit message template (#820)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

config: enable reviewApprovedRequired option for test-dev
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

config: enable reviewApprovedRequired option for test-dev (#821)
  configs/prow-dev/config/config.yaml
Due: pull-tichi-validate-prow-yaml

feat: lgtm support ignore the prompt when approval is invalid
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: fix typo and add docs
  docs/en/plugins/lgtm.md
  docs/plugins/lgtm.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

fix: fix lint
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

feat: lgtm support ignore the prompt when approval is invalid (#827)
  docs/en/plugins/lgtm.md
  docs/plugins/lgtm.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/lgtm/lgtm.go
Due: none

deploy: acfc97fe5e075e024cdde0cef652e0cd2c6116fe
  en/plugins/lgtm.md
  plugins/lgtm.md
Due: none

build: bump ti plugin from v1.9.1 to v1.9.2
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow
