Repository ti-community-infra/tichi: changes, and which Prow jobs are due for each by the changed paths.
All: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml, pull-tichi-label-dumpling-checks, pull-tichi-validate-labels-yaml, post-tichi-deploy-prow, post-tichi-label-sync, post-tichi-label-dumpling-checks

pull-tichi-validate-prow-yaml:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/checkconfig:v20210806-c95403cd67
      command:
      - /checkconfig
      args:
      - --plugin-config=configs/prow-dev/config/plugins.yaml
      - --config-path=configs/prow-dev/config/config.yaml
      - --job-config-path=configs/prow-dev/jobs
  ...

pull-tichi-validate-external-plugin-yaml:
  decorate: true
  spec:
    containers:
    - image: ticommunityinfra/tichi-check-external-plugin-config:v1.8.0
      command:
      - check-external-plugin-config
      args:
      - --external-plugin-config-path=configs/prow-dev/config/external_plugins_config.yaml

pull-tichi-label-dumpling-checks:
  decorate: true
  spec:
    containers:
    - image: rust:1.52
      command:
      - /bin/bash
      - -c
      - make label-dumpling-checks

pull-tichi-validate-labels-yaml:
  decorate: true
  spec:
    containers:
    - image: golang:1.16
      command:
      - scripts/verify-labels.sh

post-tichi-deploy-prow:
  decorate: true
  spec:
    containers:
    - image: google/cloud-sdk:319.0.0
      command:
      - scripts/deploy.sh
      args:
      - --confirm
      - --config=trusted
      env:
      - name: GOOGLE_APPLICATION_CREDENTIALS
        value: /creds/service-account.json
      volumeMounts:
      - name: creds
  ...

post-tichi-label-sync:
  decorate: true
  spec:
    containers:
    - image: gcr.io/k8s-prow/label_sync:v20210806-c95403cd67
      command:
      - /app/label_sync/app.binary
      args:
      - --config=configs/prow-dev/config/labels.yaml
      - --confirm=true
      - --only=ti-community-infra/test-dev
      - --token=/etc/github/token
  ...

post-tichi-label-dumpling-checks:
  decorate: true
  spec:
    containers:
    - image: rust:1.52
      command:
      - /bin/bash
      - -c
      - make label-dumpling-checks

fix: add extra_refs
  .prow.yaml
  configs/prow-dev/autobump-config/tichi-prow-component-autobump-config.yaml
Due: pull-tichi-validate-prow-yaml

fix: remove extra_refs
  .prow.yaml
Due: none

Bumping Prow
  .prow.yaml
  configs/prow-dev/cluster/branchprotector.yaml
  configs/prow-dev/cluster/crier_deployment.yaml
  configs/prow-dev/cluster/deck_deployment.yaml
  configs/prow-dev/cluster/ghproxy.yaml
  configs/prow-dev/cluster/hook_deployment.yaml
  configs/prow-dev/cluster/horologium_deployment.yaml
  configs/prow-dev/cluster/label_sync.yaml
  configs/prow-dev/cluster/needs-rebase_deployment.yaml
  configs/prow-dev/cluster/prow_controller_manager_deployment.yaml
  configs/prow-dev/cluster/sinker_deployment.yaml
  configs/prow-dev/cluster/statusreconciler_deployment.yaml
  configs/prow-dev/cluster/tide_deployment.yaml
  configs/prow-dev/config/config.yaml
  configs/prow-dev/jobs/ti-community-infra/test-dev/rustin-bot-periodics.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: enable override plugins for test-dev
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

config: enable override plugins for test-dev (#757)
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml

feat: add match checker plugin
  cmd/ticommunitymatchingchecker/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/matchchecker/matchchecker.go
  internal/pkg/externalplugins/matchchecker/matchchecker_test.go
Due: none

feat: support check issue number
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/matchchecker/matchchecker.go
  internal/pkg/externalplugins/matchchecker/matchchecker_test.go
Due: none

refactor: rename to format checker
  cmd/ticommunityformatchecker/main.go
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/config.go
Due: none

docs: add doc for format checker
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: none

fix: fix typo
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: none

fix: add newline for notification template
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

feat: add deployment for format-checker
  .goreleaser.yml
  deployments/plugins/formatchecker/Dockerfile
Due: none

fix: delete duplicate test case
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: fix typo
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
Due: none

fix: refine the error handle
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

feat: add format checker plugin (#761)
  .goreleaser.yml
  cmd/ticommunityformatchecker/main.go
  deployments/plugins/formatchecker/Dockerfile
  docs/README.md
  docs/_sidebar.md
  docs/en/README.md
  docs/en/_sidebar.md
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/config_test.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

deploy: 403cd4d34cfc6f89bbeee6b7d243d82378afe3a7
  README.md
  _sidebar.md
  en/README.md
  en/_sidebar.md
  en/plugins/format-checker.md
  plugins/format-checker.md
Due: none

build: bump ti plugins version to v1.9.0-beta.1
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.9.0-beta.1 (#765)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: deploy ti-community-format-checker plugin
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: deploy ti-community-format-checker plugin (#766)
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_service.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

config: deploy format-checker for test-dev
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

config: deploy format-checker for test-dev (#767)
  configs/prow-dev/config/config.yaml
  configs/prow-dev/config/external_plugins_config.yaml
  configs/prow-dev/config/plugins.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

build: bump ti plugins version to v1.9.0
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

build: bump ti plugins version to v1.9.0 (#769)
  .prow.yaml
  configs/prow-dev/cluster/ti_community_autoresponder_deployment.yaml
  configs/prow-dev/cluster/ti_community_blunderbuss_deployment.yaml
  configs/prow-dev/cluster/ti_community_cherrypicker_deployment.yaml
  configs/prow-dev/cluster/ti_community_contribution_deployment.yaml
  configs/prow-dev/cluster/ti_community_format_checker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_blocker_deployment.yaml
  configs/prow-dev/cluster/ti_community_label_deployment.yaml
  configs/prow-dev/cluster/ti_community_lgtm_deployment.yaml
  configs/prow-dev/cluster/ti_community_merge_deployment.yaml
  configs/prow-dev/cluster/ti_community_owners_deployment.yaml
  configs/prow-dev/cluster/ti_community_tars_deployment.yaml
  configs/prow-dev/cluster/tichi_web_deployment.yaml
Due: pull-tichi-validate-prow-yaml, post-tichi-deploy-prow

fix: fix the broken link in format checker doc
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: none

fix: fix the broken link in format checker doc (#770)
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
Due: none

deploy: 9cad7ec719aff40fe7f0d11bdbfc7d1e819a1d03
  en/plugins/format-checker.md
  plugins/format-checker.md
Due: none

feat: format checker support skip label option
  docs/en/plugins/format-checker.md
  docs/plugins/format-checker.md
  internal/pkg/externalplugins/config.go
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: fix checker
  internal/pkg/externalplugins/formatchecker/formatchecker.go
Due: none

test: add test case
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: adjust the grace period of tars
  internal/pkg/externalplugins/tars/tars.go
Due: none

doc: add rerere en doc
  docs/en/components/rerere.md
Due: none

doc: add dco doc
  docs/en/plugins/dco.md
  docs/images/doc_all_commits_signed_off.png
  docs/plugins/dco.md
Due: none

docs: fix the wip doc
  docs/en/plugins/wip.md
  docs/plugins/wip.md
Due: none

docs: add branchprotector doc
  docs/README.md
  docs/_sidebar.md
  docs/components/branchprotector.md
  docs/en/README.md
  docs/en/_sidebar.md
Due: none

fix: fix typo
  internal/pkg/externalplugins/formatchecker/formatchecker.go
  internal/pkg/externalplugins/formatchecker/formatchecker_test.go
Due: none

fix: adjust the grace period of tars (#783)
  internal/pkg/externalplugins/tars/tars.go
Due: none

config: limit grammar of the associate issue number
  configs/prow-dev/config/external_plugins_config.yaml
Due: pull-tichi-validate-prow-yaml, pull-tichi-validate-external-plugin-yaml

Path conditions:
  pull-tichi-validate-prow-yaml: any of: configs/prow-dev/
  pull-tichi-validate-external-plugin-yaml: any of: configs/prow-dev/config/external_plugins_config.yaml
  pull-tichi-label-dumpling-checks: any of: tools/label-dumpling/
  pull-tichi-validate-labels-yaml: any of: configs/prow-dev/config/labels.*
  post-tichi-deploy-prow: any of: configs/prow-dev/cluster/
  post-tichi-label-sync: any of: configs/prow-dev/config/labels.yaml
  post-tichi-label-dumpling-checks: any of: tools/label-dumpling/
